params {
    star_index = "reference/hg38_gencode28_STAR/"
    fastq_pattern = "data/*.R{1,2}.fastq"
    bam="alignment/*.sorted.bam"
    ref_fa="reference/GRCh38.primary_assembly.genome.fa"
    pair_orientation="FR"
    ribosomal_intervals="reference/gencode.v28.primary_assembly.annotation.ribosome_ranges"
    ref_flat="reference/gencode.v28.primary_assembly.annotation.refFlat"
    strand_specificity="NONE"
}



// run jobs using the scheduler
process.executor = 'pbs'

// generate reports
report.enabled = true
timeline.enabled = true
trace.enabled = true
